<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>home page</title>
</head>
<body id="bod">
    <h1>This is a Mini social media app</h1>
    <p>explore using the link below to sign up or sign in</p>
    <p>you can not comment or like people posts without logging in or signing up</p>
    <i> <mark style="background-color: red; color: yellow;">declaimer</mark> please i am not a front-end developer.. so do not expect this site to be style and flexible on the front</i><br><br>

    <a href="/login">Sign-in</a><br><br>
    <a href="/signup">sign-up</a>

    <section>
        <ul>
          
            <% for (let i = 0; i < posts.length; i++) { %>
              <li style="list-style-type: none;">
                <span>Posted By: <%= posts[i].userId.username %></span><br>
                <span>Title: <%= posts[i].title %></span><br>
                <a href="#"><img src="<%= posts[i].image %>" alt="" ></a><br>
                <span>Post: <%= posts[i].post %></span>
                <span>
                  <form   action="/likePost/<%= posts[i]._id %>?_method=PUT" method="POST">
                   
                    <button class="fa fa-thumbs-up" type="submit"  ></button>
                    <!-- this like by right should'nt be here -->
                    Likes: <%= posts[i].likes %>
                  </form>
                  
                </span>
              </li>
            <% } %>    
        </ul>

    </section>

    <script src="js/main.js"></script>
</body>
</html>