<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>home page</title>
</head>
<body>
    <h1>this is a simple social media app</h1>
    <p>explore using the link below to sign up or sign in</p>
    <p>you can not comment  and like people posts without logging in or signing up</p>

    <a href="/login">Sign-in</a>
    <a href="/signup">sign-up</a>

    <section>
  
        <ul>
          <% for (let i = 0; i < posts.length; i++) { %>
            <li style="list-style-type: none;">
              <span>Posted By: <%= posts[i].userId.username %></span><br>
              
              <span>Title: <%= posts[i].title %></span><br>
              <a href="#"><img src="<%= posts[i].image %>" alt="" width="15%"></a><br>
              <span>Post: <%= posts[i].post %></span>
              <span>
                <form action="/likePost/<%= posts[i]._id %>?_method=PUT" method="POST">
                  <button type="submit">Like</button>
                  <!-- this like by right should'nt be here -->
                  Likes: <%= posts[i].likes %>
                </form>
              
              </span>
            </li>
          <% } %>          
        </ul>

    </section>
</body>
</html>